model/original/*
model/finetune_checkpoint/*
!model/finetune_checkpoint/.gitkeep
!model/original/.gitkeep 
torchtune
wandb
ChatExport*
*Backup*
data/preprocessing/processed_chats/validation/
data/preprocessing/processed_chats/train/
data/preprocessing/raw_chats/train/
data/preprocessing/raw_chats/validation/
checkpoints/*
image_folder
video_folder
*.pyc

